@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('fonts/AirbnbCerealApp-Medium.woff2') format('woff2'),
        url('fonts/AirbnbCerealApp-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: snow;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Airbnb Cereal App';
    color: #FF5A5F;
    text-align: center;
    font-weight: bolder * 100;
    margin-bottom: 25px;
}

h2 {
    font-family: 'Airbnb Cereal App';
    font-weight: bolder * 10;
}

h3 {
    font-family: 'Airbnb Cereal App';
    font-weight: bolder * 10;
}

p {
    font-family: 'Airbnb Cereal App';
    font-weight: 345;
    font-size: 125%;
}